section{
    padding:80px 0;
}

.title{
    font-size:40px;
    font-weight:bold;
    text-align:center;
    margin-bottom:40px;
}

.card{
    transition:.5s;
}

.card:hover{
    transform:translateY(-10px);
}